<!DOCTYPE html>
<html lang="jp">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>Yasokitchen</title>
    <meta name="description" content="Happy birthday @sawa-zen!!" />
    <meta name="keywords" content="sawada takayoshi,sawa-zen,tokuda yasokichi,risk management" />
    <link rel="stylesheet" type="text/css" href="//cdnjs.cloudflare.com/ajax/libs/bulma/0.0.23/css/bulma.min.css">
    <link rel="stylesheet" type="text/css" href="//cdnjs.cloudflare.com/ajax/libs/font-awesome/4.5.0/css/font-awesome.min.css">
  </head>
  <body>
    <section class="hero is-fullheight">
      <div class="hero-header">
        <header class="header">
          <div class="container">
            <div class="header-left">
              <a class="header-item">
                Yasokitchen
              </a>
            </div>
            <div class="header-right header-menu">
              <a class="header-item is-active">
                Home
              </a>
              <a class="header-item">
                Description
              </a>
              <a class="header-item">
                Histories
              </a>
            </div>
          </div>
        </header>
      </div>
      <div class="hero-content">
        <div class="container">
            <img src="static/img/logo.jpg" alt="Yasokitchen">
        </div>
      </div>
      <div class="hero-footer">
        <div class="container">
          <div class="content is-centered">
            <p class="copyright">
              <a href="https://topotal.com">2016 topotal.com</a>
            </p>
          </div>
        </div>
      </div>
    </section>
  </body>
</html>
