<!DOCTYPE html>
<html lang="jp">
<head>
  <meta charset="UTF-8">
  <title>Yasokitchen</title>
  <meta name="description" content="Happy birthday @sawa-zen!!" />
  <meta name="keywords" content="sawada,tokuda yasokichi" />
  <meta name="viewport" content="width=device-width">
  <link rel="stylesheet" type="text/css" href="//cdnjs.cloudflare.com/ajax/libs/bulma/0.0.23/css/bulma.min.css">
</head>
<body>
  <article id="wrapper">
    <section id="main">
      Hi!
    </section>
  </article>
  <footer>
    <span class="copyright">© 2016 topotal.com</span>
  </footer>
</body>
</html>
